@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.head-color{
    background-color: #D7D0C6;
}

.scale:hover{
    transform: scale(1.2);
}

.splitG{
    list-style: url("/images/harp-small.png");
    padding: 0;
    margin: 0;
}

.beefLink{
    list-style: url(/new_images/small\ beef.png);
    padding: 0;
    margin: 0;
}



.footer-list > li > a, .footer-link  {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-list > li:hover{
    text-decoration: underline;
}

.footerLinks > a >i:hover{
    transform: scale(1.2);
}

.beefeaterTag{
    text-decoration: none;
    color: white;
}

.beefeaterTag:hover{
    color: orange;
}

.nutribackground{
    background-color: #070707d2;
}
.heroImg{
    background-image: url(images/factory-gate-large.jpg);
    background-size: cover;
}

.storeImage{
    max-height: 200px;
}

body{
    background: rgb(215,208,198);
    background: linear-gradient(180deg, rgba(215,208,198,1) 0%, rgba(0,0,0,1) 47%, rgba(0,0,0,1) 100%);
}

.bookNowButton{
    text-decoration: none;
    text-align: center;
}

.nav-item:hover{
    background-color: #9b968d;
    border-radius: 5px;
}

.lightShadow{
    box-shadow: 10x 5px 5px red;
}

.guinessText{
    color: #D7D0C6;
}